html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  margin: 0;
  background-color: #fff;
  color: #000;
  font: 20px/36px "Roboto", Arial, sans-serif;
}

body.fixed {
  position: fixed;
  width: 100%;
  height: 100vh;
}

body.fixed .top-header {
  background: #fff;
}

body.fixed .nav {
  display: block;
}

.wrapper {
  max-width: 1500px;
  margin: 0 auto;
  padding: 0 50px;
  position: relative;
  z-index: 2;
}

@media screen and (max-width: 640px) {
  .wrapper {
    padding: 0 20px;
  }
}

.page {
  position: relative;
  overflow: hidden;
}

.page:before {
  content: "Design";
  font: 700 900px/900px "Roboto", Arial, sans-serif;
  color: #f2f2f2;
  position: absolute;
  left: -57px;
  top: 0;
}

@media screen and (max-width: 320px) {
  .page:before {
    top: -27px;
  }
}

@media screen and (max-width: 1024px) {
  .page:before {
    top: -109px;
  }
}

@media screen and (max-width: 640px) {
  .page:before {
    font-size: 400px;
    line-height: 400px;
    top: -10px;
    left: -40px;
  }
}

@media screen and (max-width: 320px) {
  .page:before {
    font-size: 300px;
  }
}

.main h1 {
  font: 700 72px/76px "Roboto", Arial, sans-serif;
}

@media screen and (max-width: 1024px) {
  .main h1 {
    font-size: 50px;
    line-height: 54px;
  }
}

@media screen and (max-width: 320px) {
  .main h1 {
    font-size: 30px;
    line-height: 34px;
    margin-bottom: 30px;
  }
}

.button {
  font: 15px/20px "Roboto", Arial, sans-serif;
  background-color: #40d3ad;
  color: #fff;
  width: 240px;
  text-align: center;
  margin: 0 auto;
  display: block;
  padding: 23px 10px 17px;
  box-sizing: border-box;
  border-radius: 30px;
  text-decoration: none;
  transition: opacity 0.5s ease;
}

.button:hover {
  opacity: 0.6;
}

.top-header {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
  height: 100px;
  padding: 0 50px;
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  z-index: 5;
  transition: background 0.3s ease;
}

.top-header.bg-white {
  background-color: #fff;
}

@media screen and (max-width: 640px) {
  .top-header {
    padding: 0 20px;
  }
}

@media screen and (max-width: 320px) {
  .top-header {
    height: 75px;
  }
}

.top-header__logo {
  width: 54px;
  height: 50px;
  display: block;
  position: relative;
}

.top-header__logo:hover {
  width: 180px;
}

.top-header__logo:hover .top-header__logo-hover {
  opacity: 1;
  visibility: visible;
}

.top-header__logo:hover .top-header__logo-sm {
  left: 63px;
}

.top-header__logo-sm {
  width: 54px;
  height: 50px;
  display: block;
  position: relative;
  left: 0;
  transition: left 0.5s ease;
}

.top-header__logo-hover {
  width: 180px;
  height: 50px;
  position: absolute;
  top: 0;
  left: -4px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s ease;
}

.top-header__menu-opener {
  display: block;
}

.top-header__menu-opener svg {
  transition: all 0.3s ease;
}

.top-header__menu-opener:hover svg {
  fill: #40d3ad;
}

.nav {
  background-color: #fff;
  position: fixed;
  width: 100%;
  height: calc(100% - 100px);
  bottom: 0;
  display: none;
  z-index: 20;
  overflow: auto;
}

@media screen and (max-width: 320px) {
  .nav {
    height: calc(100% - 75px);
  }
}

.nav__wrap {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: end;
      justify-content: flex-end;
  min-height: calc(100vh - 100px);
}

@media screen and (max-width: 320px) {
  .nav__wrap {
    min-height: calc(100vh - 75px);
  }
}

.nav__body {
  position: relative;
  padding-bottom: 100px;
  -ms-flex-positive: 1;
      flex-grow: 1;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  overflow: auto;
  -ms-flex-direction: column;
      flex-direction: column;
}

.nav__lang-list {
  position: absolute;
  right: 50px;
  top: 0;
}

@media screen and (max-width: 640px) {
  .nav__lang-list {
    right: 20px;
  }
}

@media screen and (max-width: 320px) {
  .nav__lang-list {
    position: static;
    display: -ms-flexbox;
    display: flex;
  }
  .nav__lang-list li {
    margin: 0 5px;
  }
}

.nav__lang-list li {
  text-align: center;
  text-transform: uppercase;
  font: 16px/21px "Roboto", Arial, sans-serif;
  margin-bottom: 10px;
}

.nav__lang-list li a {
  display: block;
  width: 45px;
  border: 2px solid #000;
  color: #000;
  padding: 5px;
  box-sizing: border-box;
  transition: all 0.3s ease;
  text-decoration: none;
}

.nav__lang-list li a:hover {
  background-color: #000;
  color: #fff;
}

.nav__menu {
  text-align: center;
  font: 48px/52px "Roboto", Arial, sans-serif;
}

.nav__menu li {
  margin-bottom: 35px;
}

.nav__menu li a {
  text-decoration: none;
  color: #000;
  border-bottom: 3px solid transparent;
  display: inline-block;
  padding: 0 20px 15px;
}

.nav__menu li a:hover {
  border-bottom-color: #000;
}

@media screen and (max-width: 1024px) {
  .nav__menu {
    font-size: 40px;
    line-height: 44px;
  }
  .nav__menu li {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 320px) {
  .nav__menu {
    font-size: 30px;
    line-height: 34px;
  }
  .nav__menu li a {
    padding-bottom: 5px;
  }
}

.home-link {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 46px;
  height: 35px;
  bottom: 50px;
}

.home-link svg {
  transition: all 0.3s ease;
}

.home-link:hover svg {
  fill: #40d3ad;
}

.footer {
  border-top: 1px solid #e9e9ea;
  padding: 90px 50px 70px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
  font: 14px/18px "Roboto", Arial, sans-serif;
}

.footer p {
  margin: 0 0 10px;
}

.footer .copyright {
  font-size: 12px;
}

@media screen and (max-width: 640px) {
  .footer {
    padding: 43px 20px;
    display: block;
    text-align: center;
  }
}

.footer__left-col a {
  color: #000;
  text-decoration: none;
}

@media screen and (max-width: 640px) {
  .footer__left-col {
    padding-bottom: 30px;
  }
}

.footer__right-col {
  text-align: right;
}

@media screen and (max-width: 640px) {
  .footer__right-col {
    text-align: center;
  }
}

.social-list {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: end;
      justify-content: flex-end;
  margin-bottom: 20px;
}

.social-list li {
  margin-left: 20px;
}

.social-list li:first-child {
  margin-left: 0;
}

.social-list a {
  color: #475993;
}

.social-list a:hover {
  color: #c536a5;
  text-decoration: none;
}

@media screen and (max-width: 640px) {
  .social-list {
    -ms-flex-pack: center;
        justify-content: center;
  }
}

.top-section {
  padding-top: 100px;
  padding-bottom: 90px;
  min-height: calc(100vh - 100px);
  box-sizing: border-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  position: relative;
}

@media screen and (max-width: 640px) {
  .top-section {
    min-height: 1px;
    display: block;
    text-align: center;
    padding-top: calc(100px + 90px);
  }
}

.top-section__picture {
  width: 50%;
}

.top-section__picture img {
  max-width: 100%;
}

.top-section__picture .mobile-img {
  display: none;
  position: absolute;
  top: 100px;
  right: 0;
}

@media screen and (max-width: 640px) {
  .top-section__picture .mobile-img {
    display: block;
  }
}

@media screen and (max-width: 320px) {
  .top-section__picture .mobile-img {
    top: 75px;
    right: -30px;
  }
}

@media screen and (max-width: 1280px) {
  .top-section__picture {
    width: 40%;
  }
}

@media screen and (max-width: 640px) {
  .top-section__picture .desktop-img {
    display: none;
  }
}

.top-section__text {
  font: 40px/60px "Roboto", Arial, sans-serif;
  width: auto;
}

@media screen and (max-width: 1024px) {
  .top-section__text {
    font-size: 30px;
    line-height: 48px;
  }
}

@media screen and (max-width: 640px) {
  .top-section__text {
    font-size: 24px;
    line-height: 28px;
  }
}

.portfolio-wrap {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: justify;
      justify-content: space-between;
  padding-bottom: 134px;
}

@media screen and (max-width: 320px) {
  .portfolio-wrap {
    padding-bottom: 30px;
  }
}

.portfolio-wrap__item {
  width: calc(50% - 8px);
  margin-bottom: 16px;
  display: block;
}

.portfolio-wrap__item.narrow {
  width: calc(33.33% - 8px);
}

@media screen and (max-width: 640px) {
  .portfolio-wrap__item.narrow {
    width: 100%;
  }
}

.portfolio-wrap__item img {
  width: 100%;
  display: block;
}

@media screen and (max-width: 640px) {
  .portfolio-wrap__item {
    width: 100%;
  }
}

.portfolio__text-block {
  max-width: 754px;
  margin: 0 auto 145px;
  text-align: center;
}

.portfolio__text-block p {
  margin: 0 0 38px;
}

@media screen and (max-width: 320px) {
  .portfolio__text-block {
    margin-bottom: 45px;
  }
}

.gallery {
  padding-bottom: 85px;
}

@media screen and (max-width: 640px) {
  .gallery {
    padding-bottom: 35px;
  }
}

.gallery__sub-ttl {
  text-transform: uppercase;
  font: 500 15px/20px "Roboto", Arial, sans-serif;
  text-align: center;
  display: block;
  margin-bottom: 45px;
  position: relative;
}

.gallery__sub-ttl:before {
  content: '@';
  color: #c536a5;
  position: relative;
  top: -2px;
  font: 700 15px/20px "Roboto", Arial, sans-serif;
  display: inline-block;
  margin-right: 2px;
}

.gallery-wrap {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.gallery-wrap__item {
  width: calc(20% - 7px);
  margin-bottom: 15px;
  display: block;
}

.gallery-wrap__item img {
  width: 100%;
  display: block;
}

@media screen and (max-width: 640px) {
  .gallery-wrap__item {
    width: calc(50% - 7px);
  }
  .gallery-wrap__item:last-child {
    display: none;
  }
}
